@page
@model Announcement_web_service.Pages.DetailModel
@{
    ViewData["Title"] = "Detail";
}

<h1 class="text-info">Announcement details</h1>
<br />

<div class="border container p-3" style="padding: 30px;">
    <form>
        <input type="hidden" asp-for="Announcement.Id" />
        <div class="form-group row">
            <div class="col-3">
                <label asp-for="Announcement.Tittle"></label>
            </div>
            <div class="col-6">
                <span>@Model.Announcement.Tittle</span>
            </div>
        </div>
        <div class="form-group row">
            <div class="col-3">
                <label asp-for="Announcement.Description"></label>
            </div>
            <div class="col-6">
                <span>@Model.Announcement.Description</span>
            </div>
        </div>
        <div class="form-group row">
            <div class="col-3">
                <label>Date Added</label>
            </div>
            <div class="col-6">
                <span>@Model.Announcement.DateAdded</span>
            </div>
        </div>

        <div class="form-group row">
            <div class="col-3 offset-3">
                <a asp-route-id="@Model.Announcement.Id" asp-page="Edit" class="btn btn-primary form-control">Edit</a>
            </div>
            <div class="col-3">
                <a asp-page="Index" class="btn btn-success form-control">Back to main page</a>
            </div>

        </div>
    </form>
</div>


<div class="border container p-3" style="padding: 30px;">

    @if (Model.ThreeSimilarAnnouncementsId is null || Model.ThreeSimilarAnnouncements is null)
    {
        <p>No similar Announcements yet :(</p>
    }
    else if (Model.ThreeSimilarAnnouncements.Count > 0)
    {
        <h2 class="text-info">Similar announcement</h2>
        <br />

        <table class="table border col-9">
            <tr class="table-secondary">
                <th class="col-4">
                    <label asp-for="Announcements.FirstOrDefault().Tittle"></label>
                </th>
                <th class="col-3">
                    <label asp-for="Announcements.FirstOrDefault().DateAdded"></label>
                </th>
                <th class="col-2">

                </th>
            </tr>

            @foreach (var item in Model.ThreeSimilarAnnouncements)
            {
                <tr>
                    <td class="table-text-overflow">
                        @item.Tittle
                    </td>
                    <td>
                        @item.DateAdded
                    </td>
                    <td>
                        <a asp-page="Detail" asp-route-id="@item.Id" class="btn btn-success btn-sm text-white">Detail</a>
                    </td>
                </tr>
            }

        </table>
    }
    else
    {
        <p>No similar Announcements yet :(</p>
    }
</div>
