@page
@model IndexModel
@{
    ViewData["Title"] = "Сервіс оголошень";
}

<div class="container">


    <div class="row align-items-center">
        <div class="col-9">
            <h1>Список оголошень</h1>
        </div>
        <div class="col-3">
            <a asp-page="Create" class="btn btn-info form-control text-white">Create New Announcement</a>
        </div>
    </div>

    <div class="col-12 border p-3 mt-3">

        <form method="post">
            @if (Model.Announcements.Count() > 0)
            {
                <table class="table border">
                    <tr class="table-secondary">
                        <th>
                            <label asp-for="Announcements.FirstOrDefault().Tittle"></label>
                        </th>
                        <th>
                            <label asp-for="Announcements.FirstOrDefault().Description"></label>
                        </th>
                        <th>
                            <label asp-for="Announcements.FirstOrDefault().DateAdded"></label>
                        </th>
                        <th>

                        </th>
                    </tr>

                    @foreach (var item in Model.Announcements)
                    {
                        <tr>
                            <td>
                                @item.Tittle
                            </td>
                            <td>
                                @item.Description
                            </td>
                            <td>
                                @item.DateAdded
                            </td>
                            <td>
                                <a asp-page="Detail" asp-route-id="@item.Id" class="btn btn-success btn-sm text-white">Detail</a>
                                <a asp-page="Edit" asp-route-id="@item.Id" class="btn btn-success btn-sm text-white">Edit</a>
                                <button asp-page-handler="Delete" asp-route-id="@item.Id" onclick="return confirm('Are you shure, you want to delete this announcement?')" class="btn btn-danger btn-sm">Delete</button>
                            </td>
                        </tr>
                    }

                </table>
            }
            else
            {
                <p>No announcements available, you can add it!</p>
            }
        </form>
    </div>
</div>
